# torch, torchvision (required, but not in requirements in order to let user choose between cpu and gpu version of pytorch)
torch~=2.3.0+cu121
torchvision ~=0.18.0+cu121
numpy
jupyter
datasets
tqdm
ucimlrepo
pandas
scikit-learn
nevergrad
matplotlib